*{
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
body{
  background-color: #d5d5d5;
}
.bg-loto{
  padding: 10px;
  border-radius: 5px;
}
.bg-loto img{
  margin-right: 20px;
}
.bg-loto h2{
  color: #fff;
  padding: 30px 10px 0 20px;
  border-bottom: 15px solid transparent;
  background: linear-gradient(to right,rgb(0, 97, 40) 10%, rgba(255, 255, 255, 0.419)), url(../img/trevo.jpg)center/cover no-repeat;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.rotateIn {
  display: inline-block;
  animation: rotateIn 2s infinite;
  transform-origin: center;
}

@keyframes rotateIn {
  from {
    transform: rotate3d(0, 0, 1, 0);
  }

  to {
    transform: rotate3d(0, 0, 1, -360deg);
    transform: translate3d(0, 0, 200deg);
  }
}
